using Jcd.Units.UnitTypes;
// ReSharper disable RedundantArgumentDefaultValue
// ReSharper disable MemberCanBePrivate.Global
// ReSharper disable UnusedMember.Global
// ReSharper disable ClassNeverInstantiated.Global
// ReSharper disable UnusedType.Global


namespace $BaseNamespace$$Subnamespace$;

/// <summary>
/// $System.Description$ for measuring $UnitType.Name$.
/// </summary>
public class $Enumeration$ : Enumeration<$Enumeration$,$UnitType.TypeName$>
{
$Units$

}