using Jcd.Units.UnitTypes;

namespace $BaseNamespace$$Subnamespace$;

/// <summary>
/// $System.Description$ for measuring $UnitType.Name$.
/// </summary>
public class $Enumeration$ : Enumeration<$Enumeration$,$UnitType.TypeName$>
{
$Units$
}