// ReSharper disable ClassNeverInstantiated.Global
// ReSharper disable UnusedType.Global

namespace $BaseNamespace$$Subnamespace$;

/// <summary>
/// Provides units of measure for various $System.Name$unit types.
/// </summary>
internal class NamespaceDoc { }